name: salon_app
description: A new Flutter application.
# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1
environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3
  shared_preferences:
  json_annotation: ^1.2.0
  http: ^0.12.0
  google_maps_flutter: ^0.5.32
  location: ^3.0.2
  toast:
  custom_progress_dialog: ^1.0.5
  flutter_html: ^1.0.0
  connectivity:
  provider:
  flutter_calendar_carousel:
  rxdart: 0.18.1
  loader_search_bar:
  myfatoorah_flutter:
  image_picker:
  carousel_slider:
  path:
  photo_view:
#  html_editor: ^1.0.1
  #flutter_html_editor: ^1.0.0
  flutter_summernote:

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  assets:
    - images/ic5.png
    - images/clean.png
    - images/bg.png
    - images/bg_1.png
    - images/top_icon.png
    - images/logo_header.png
    - images/white_logo.png
    - images/confirm.png
    - i18n/ar.json
    - i18n/en.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: TimeRomanBold
      fonts:
        - asset: fonts/TimeRomanBold.ttf
        #- asset: fonts/JosefinSans-Bold.ttf
        #- asset: fonts/JosefinSans-Light.ttf
        #- asset: fonts/JosefinSans-Regular.ttf
        #- asset: fonts/JosefinSans-SemiBold.ttf

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
