<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>Salon App using music for playing the video files</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Salon application using calender to show the events date and list of upcoming events</string>
    <key>NSCameraUsageDescription</key>
    <string>Salon application is based on barber shop so if any barber wants to upload their service so barber will take photo from camera and upload it on serevr</string>
    <key>NSContactsUsageDescription</key>
    <string>Salon application inviting friends is simple when choosing them from the address book on your phone.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Grad application when user nearby barber so he can fetch current location of that place</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Salon application using  location is required for user current location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Salon application using  location is required for user current location</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Salon application allow to microphone to access gallery for complain register</string>
    <key>NSMotionUsageDescription</key>
    <string>Salon application uses motion  </string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Salon application allow to microphone to access photo for complain register</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Salon application To be able to use the Voice Messages function, we need the permission.</string>
    <key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>salon_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
    <key>NSAllowsArbitraryLoads</key>
     <true/>
        </dict>
</dict>
</plist>
